name: arfit_app
description: Fitness app by Mohammed
version: 1.0.0+1

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  table_calendar: ^3.0.9  
  fl_chart: ^0.63.0
  firebase_core: ^3.13.1
  firebase_auth: ^5.5.4
  cloud_firestore: ^5.6.8
  provider: ^6.0.5
  image_picker: ^1.0.4
  firebase_storage: ^12.4.6
  camera: ^0.11.1
  google_mlkit_pose_detection: ^0.14.0 # ✅ Downgraded for compatibility
  google_mlkit_commons: ^0.11.0     # ✅ Required to resolve MLKitVision
  permission_handler: ^12.0.0+1

dev_dependencies:
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/logo/arfit_logo.png
    - assets/fonts/Exo-Regular.ttf

  fonts:
    - family: Exo
      fonts:
        - asset: assets/fonts/Exo-Regular.ttf

flutter_icons:
  android: true
  ios: true
  image_path: "assets/logo/arfit_icon.png"
